<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
	<nav>
		<img class="logo" src="/img/logo.png" class="logo">
		<div class="contacts">
			<i class="contacts">Телефон</i>
			<i class="contacts">097 170 9446</i>
		</div>	
		<div class="contacts1">
			<i class="contacts">Instagram</i>
			<a href="https://instagram.com/ne_pelinki?igshid=YmMyMTA2M2Y="><img class="logo" src="/img/insta.png"></a>
		</div>
		<div class="contacts">
			<i class="contacts_odessa">Місто Одеса</i>
		</div>	
		<div class="dropdown">
			<button onclick="myFunction()" class="dropbtn">Послуги</button>
			<div id="myDropdown" class="dropdown-content">
				<div class="item">Хімчистка</div>
				<div class="item">Після ремонту</div>
				<div class="item">Генеральне прибирання</div>
				<div class="item">Миття вікон</div>
			</div>
		</div>
		<a href="#work"><i id="#work" class="contacts">Наші роботи</i></a>
		<a href="#answer"><i class="contacts_answer">Задати питання</i></a>
		<a class="Uk" id="Uk" href="/"><i><h2>Uk</h2></i></a>
		<a class="Ru" id="Ru" href="/ru"><i><h2>Ru</h2></i></a>
	</nav>
	<div class="bod">
		<div class="centered">Професійна клінінгова компанія Ні пилінки</div>
		<img class="main" src="/img/main.jpg"> 
	</div>
	<h1 class="center1 gradient">Послуги</h1>
	<div class="blog"> 
		<div class="marg">	
			<h2 class="gradient1">Усуваємо післябудівний пил з усіх поверхонь - підлоги, стін, стелі та меблів</h2>
			<h2 class="gradient1">Прибираємо плями фарби, шпаклівки, штукатурки та клею</h2>
			<h2 class="gradient1">Миємо вікна</h2>
		</div>	
		<div class="marg">
			<h2 class="gradient1">Знімаємо захисну плівку з вікон</h2>
			<h2 class="gradient1">Видаляємо всі забруднення з дзеркал та дзеркальних поверхонь, підвіконь</h2>
			<h2 class="gradient1">Робимо вологе прибирання підлоги та всіх інших поверхонь</h2>
		</div>
		<div class="marg">
			<h2 class="gradient1">Знепилюємо та чистимо розетки, вимикачі, люстри та світильники</h2>
			<h2 class="gradient1">Очищаємо радіатори всередині</h2>
			<h2 class="gradient1">Миємо та поліруємо сантехніку</h2>
		</div>
		<div class="marg">
			<h2 class="gradient1">Чистимо міжплиткові шви</h2>
			<h2 class="gradient1">Знепилюємо та миємо міжкімнатні вхідні двері, пороги</h2>
			<h2 class="gradient1">Миємо фасади</h2>
			<h2 class="gradient1">Виносимо будівельне сміття</h2>
		</div>	
	</div>	

	<div class="block" id="work"> 
		<h1 class="center gradient">Наші роботи</h1>
		<img class="gallery" src="/img/1.jpg">
		<img class="gallery" src="/img/2.jpg">
		<img class="gallery" src="/img/3.jpg">
		<img class="gallery" src="/img/4.jpg">
		<img class="gallery" src="/img/5.jpg">
		<img class="gallery" src="/img/6.webp">
		<img class="gallery" src="/img/7.webp">
		<img class="gallery" src="/img/8.webp">
		<img class="gallery" src="/img/9.webp">
		<img class="gallery" src="/img/10.jpg">
		<img class="gallery" src="/img/11.webp">
		<img class="gallery" src="/img/12.jpg">
	</div>	

<footer id="answer">
	<form class="decor">
		<div class="form-left-decoration"></div>
		<div class="form-right-decoration"></div>
		<div class="circle"></div>
		<div class="form-inner">
		<h3>Написати нам</h3>
		<input type="text" placeholder="Ваше Ім'я" name="user_name">
		<input type="text" placeholder="Ваш телефон" name="user_phone">
		<textarea placeholder="Повідомлення..." rows="3" name="user_message"></textarea>
		<input type="submit" value="Відправити">
		</div>
		</form>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</html>