<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
	<nav>
		<img class="logo" src="/img/logo.png" class="logo">
		<div class="contacts">
			<i class="contacts">Телефон</i>
			<i class="contacts">097 170 9446</i>
		</div>	
		<div class="contacts1">
			<i class="contacts">Instagram</i>
			<a href="https://instagram.com/ne_pelinki?igshid=YmMyMTA2M2Y="><img class="logo" src="/img/insta.png"></a>
		</div>
		<div class="contacts">
			<i class="contacts_odessa">Город Одесса</i>
		</div>	
		<div class="dropdown">
			<button onclick="myFunction()" class="dropbtn">Услуги</button>
			<div id="myDropdown" class="dropdown-content">
				<div class="item">Химчистка</div>
				<div class="item">После ремонта</div>
				<div class="item">Генеральная уборка</div>
				<div class="item">Мойка окон</div>
			</div>
		</div>
		<a href="#work"><i id="#work" class="contacts">Наши работы</i></a>
		<a href="#answer"><i class="contacts">Задать вопрос</i></a>
		<a class="Uk" id="Uk" href="/"><i><h2>Uk</h2></i></a>
		<a class="Ru" id="Ru" href="/ru"><i><h2>Ru</h2></i></a>
	</nav>
	<div class="bod">
		<div class="centered">Профессиональная клининговая компания Ни пылинки</div>
		<img class="main" src="/img/main.jpg"> 
	</div>
	<h1 class="center1 gradient">Услуги</h1>
	<div class="blog"> 
		<div class="marg">	
			<h2 class="gradient1">Устраняем послестроительную пыль со всех поверхностей – пола, стен, потолка и мебели</h2>
			<h2 class="gradient1">Убираем пятна краски, шпаклевки, штукатурки и клея</h2>
			<h2 class="gradient1">Моем окна</h2>
		</div>	
		<div class="marg">
			<h2 class="gradient1">Снимаем защитную пленку с окон</h2>
			<h2 class="gradient1">Удаляем все загрязнения с зеркал и зеркальных поверхностей, подоконников</h2>
			<h2 class="gradient1">Делаем влажную уборку пола и всех других поверхностей</h2>
		</div>
		<div class="marg">
			<h2 class="gradient1">Обезпыливаем и чистим розетки, выключатели, люстры и светильники</h2>
			<h2 class="gradient1">Очищаем радиаторы внутри</h2>
			<h2 class="gradient1">Моем и полируем сантехнику</h2>
		</div>
		<div class="marg">
			<h2 class="gradient1">Чистим межплиточные швы</h2>
			<h2 class="gradient1">Обезпыливаем и моем межкомнатные входные двери, пороги</h2>
			<h2 class="gradient1">Моем фасады</h2>
			<h2 class="gradient1">Выносим строительный мусор</h2>
		</div>	
	</div>	

	<div class="block" id="work"> 
		<h1 class="center gradient">Наши работы</h1>
		<img class="gallery" src="/img/1.jpg">
		<img class="gallery" src="/img/2.jpg">
		<img class="gallery" src="/img/3.jpg">
		<img class="gallery" src="/img/4.jpg">
		<img class="gallery" src="/img/5.jpg">
		<img class="gallery" src="/img/6.webp">
		<img class="gallery" src="/img/7.webp">
		<img class="gallery" src="/img/8.webp">
		<img class="gallery" src="/img/9.webp">
		<img class="gallery" src="/img/10.jpg">
		<img class="gallery" src="/img/11.webp">
		<img class="gallery" src="/img/12.jpg">
	</div>	

<footer id="answer">
	<form class="decor">
		<div class="form-left-decoration"></div>
		<div class="form-right-decoration"></div>
		<div class="circle"></div>
		<div class="form-inner">
		<h3>Написать нам</h3>
		<input type="text" placeholder="Ваше Имя" name="user_name">
		<input type="text" placeholder="Ваш телефон" name="user_phone">
		<textarea placeholder="Сообщение..." rows="3" name="user_message"></textarea>
		<input type="submit" value="Отправить">
		</div>
		</form>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</html>